.supportedBy{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  height: 100dvh;
  color: #ffdc00;
  padding: 0 15px;
}
.supportedBy h1{
  font-size: 30px;
}