@charset "utf-8";
@font-face {
  font-family: "Druk Wide Bold";
  src: url("font/DrukWideBold.woff")format("woff");
}
$yellow: #f1c83c;
$shadow: #533d4a;
html {
  scroll-behavior: smooth;
}
body{
  font-family: "Druk Wide Bold";
  background-color: #000;
  &.active{
    overflow: hidden;
  }
}
a{
  text-decoration: none;
}
img{
  width: 100%;
  display: block;
  height: auto;
}
section{
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  max-width: 540px;
  margin: auto;
}
.flex{
  display: flex;
}
header{
  position: fixed;
  top: 20px;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: 10;
  transform: translateY(-100%);
  opacity: 0;
  animation: slideDownHeader 1s ease-out forwards;
  animation-delay: 5s;
  nav{
    ul{
      display: flex;
      justify-content: center;
      align-items: center;
      gap:20px;
      li{
        a{
          color: #ffdc00;
          display: inline-block;
          transition: 0.5s;
          &:hover{
            color: transparent;
            text-shadow: 0 0 5px #ffdc00;
          }
        }
      }
    }
  }
  @keyframes slideDownHeader {
    to {
      transform: translateY(0); // 元の位置に戻る
      opacity: 1;
    }
  }
}
.first-view{
  background-image: url(../images/main.jpg);
  background-image: url(../images/main.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
  &::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0,0,0,.8);
  }
  .logo{
    position: relative;
    z-index: 1;
    max-width: 520px;
    width: 100%;
    padding: 0 20px;
    overflow: hidden;
  }
  &::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(255,255,255);
    opacity: 1;
    animation: fadeOutAfter .5s ease forwards;
    animation-delay: 4s;
  }
  @keyframes fadeOutAfter {
    to {
      opacity: 0;
    }
  }  
}
.placed{
  margin: 0;
  height: 100vh;
}
.shop{
  height: 100vh;
  background-color: #fff;
  position: relative;
  .flex{
    gap: 30px;
    justify-content: center;
    align-items: center;
    .box{
      max-width: 500px;
    }
  }
  .position{
    position: absolute;
    bottom:0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    opacity: 0;
    animation: display 1s ease-out forwards;
    animation-delay: 1s;
    a{
      img{
        max-width: 600px;
      }
      transition: 0.5s;
      &:hover{
        opacity: .5;
      }
    }
    @keyframes display {
      to {
        opacity: 1;
      }
    }
  }
}

.supported{
  height: 100vh;
  background-color: #000;
  position: relative;
  color: #ffdc00;;

}
.member{
  height: 100vh;
  background: #000;
  position: relative;
  color: #fff;
  .profile{
    color:$yellow;
    text-shadow: $shadow 1px 1px, $shadow 2px 2px, $shadow 3px 3px, $shadow 4px 4px;
    max-width: 540px;
    margin: auto;
    //opacity: 0;
    transition: opacity 0.6s ease;
    white-space: pre-wrap;
    &.is-visible{
      opacity: 1;
    }
  }
  .use-about{
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 500px;
    width: 100%;
    height: 500px;
    position: absolute;
  }
}
.blog{
  height: 100vh;
  background-color: #fff;
  position: relative;
}

.ed-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  z-index: 9999;
  animation: modalFadeIn 0.5s ease;
  @keyframes modalFadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  #modalOverlay {
    width: 100%;
    height: 100%;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    .modalContent {
      width: 100%;
      max-width: 800px;
      margin: auto;
      position: relative;
      animation: modalScaleIn 0.5s ease;
      @keyframes modalScaleIn {
        from {
          opacity: 0;
          transform: scale(0.8);
        }
        to {
          opacity: 1;
          transform: scale(1);
        }
      }
      .ed-closeModal {
        position: absolute;
        top: -35px;
        right: 5px;
        cursor: pointer;
        width: 1.5rem;
        height: 1.5rem;
        opacity: 0.5;
        transition: opacity 0.3s ease;
        &:hover{
          opacity: 1;
        }
      }
      .video {
        width: 100%;
        position: relative;
        height: 0;
        padding-bottom: 56.25%;
        overflow: hidden;
        filter: drop-shadow(0px 2px 5px #313131);
        animation: fadeIn 1.2s ease 0s 1 normal;
        iframe {
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
        }
      }
    }    
  }
}

#footer {
  position: relative;
  z-index: 2;
  small {
    background: #333;
    color: #fff;
    display: block;
    text-align: center;
    padding: 20px;
  }  
}